[SddmGreeterTheme]
Name=al-swaiti
Description=theme for SDDM
Author=Abdallah Alswaiti
License=GPL-3.0-or-later
Type=sddm-theme
Version=1
Website=
Screenshot=Previews/PartialBlur.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=abedalswaity7@gmail.com
Theme-Id=al-swaiti
Theme-API=1
